
:root{ --clr-base-400: hsl(50 80% 40);
    --clr-base-dark: hsl(35, 73%, 44%);
    --clr-base-light: hsl(35, 73%, 90%, 0.8);
}
*{
    padding: 15px;
}

.uno{
    border: 3px solid var(--clr-base-light);
   background-color: hsl(41, 80%, 45%);
   background-image: url(img/1.jpg);
    background-repeat: no-repeat;
    height: 250px;
    background-size: cover;
}

.dos{ border: 3px solid var(--clr-base-400);
    background-color: rgb(50, 218, 218);
    background-image: url(img/2.jpg);
    background-repeat: no-repeat;
    height: 250px;
    background-size: cover;
}

.tres{ border: 3px solid var(--clr-base-dark);
    background-color: var(--clr-base-light);
    background-image: url(img/3.jpg);
    background-repeat: no-repeat;
    height: 250px;
    background-size: cover;
}

.bt1{
    width: 200px;
    background-image: linear-gradient(pink,
    yellow);
}

.bt2{
    width: 200px;
    background-image: linear-gradient(rgb(62, 237, 91),
    rgb(161, 200, 255));
}

.bt3{
    width: 200px;
    background-image: linear-gradient(rgb(255, 88, 73),
    rgb(255, 196, 233));
}